<div id="table" style="text-align:center">

<h1>Final test</h1>
<p>Zadej URL stránky: </p>



<div id="vysledek">
<p>Vámi zadaná adresa je:</p>

<p>Title stránky je: </p>

<p>A nachází se v: </p>

</div>

</div>


