<div id="table" style="text-align:center">

<h1>Final test</h1>
<p>Zadej URL stránky: </p>


<% #Nokogiri::HTML.parse(open('https://bubenicek-final.herokuapp.com')).title %>

<%= form_tag("main_page/show", method: "post") do %>
  <%= label_tag :url %><br>
  <%= text_field_tag @var = :url %>
  <br>
  <br>
  <%= label_tag :mail %><br>
   <p>E-mail zadávejte ve správném tvaru: <strong>example@email.com</strong></p>
  <%= text_field_tag :mail %>
  <p>
    <%= submit_tag("Submit") %>
  </p>
<% end %>


<p><a hfer="https://medium.com/ruby-on-rails-development/geocoder-gem-34e15ee95086">GeoCoder</a></p>
<p><a hfer="https://medium.com/@ericschwartz7/rails-mailer-tutorial-82700f6737d9">Mail</a></p>





    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <div id="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
  </div>


</div>


