<style>
  html {
  height: 98%;
}

body {
  color: white;
  height: 98%;
}

#table {

  margin-left: 10%;
  background-color: #252525;
  height: 98%;
  width: 80%;
  border: 3px;
  border-style: double;
  border-color: red;
  text-align: center;
}
#text {
  width: 50%
  margin: 0 auto;
  text-align: justify;
  color:yellow;
}
  #nadpis {
    text-decoration: underline;
    text-decoration-color: red;
    color:white;
  }
  

#vysledek {
  text-align: left;
  margin-left: 2px;
}

a {
  font-size: 14pt;
  font-weight: bold;
  text-decoration: none;
  color:white;
}

#odkaz{
  text-decoration:none;
  color:yellow;
}

  
</style>

<div id="table">
<div id="text">
<h1 id="nadpis">Výsledek hledání</h1>
<p></p>

<p> <a>URL:</a>  <a href = "<%=  @varUrl %>" id ="odkaz"><%=  @varUrl %></a></p>
<p><a>Title:</a> <%= @varTitle %></p>
<p><a>Mail:</a> <%= @varMail%></p>
<p><a>IP:</a> <%= @varIP%></p>
</div>
</div>