html {
  height: 98%;
}

body {
  color: white;
  height: 98%;
}

#table {
  h1 {
    text-decoration: underline;
    text-decoration-color: red;
  }
  margin-left: 10%;
  background-color: #252525;
  height: 98%;
  width: 80%;
  border: 3px;
  border-style: double;
  border-color: red;
}

#vysledek {
  text-align: left;
  margin-left: 2px;
}
